@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
canvas {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}
.generate-tree-button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 10;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  border-radius: 50px;
  background-color: brown;
  color: black;
  font-size: 20px;
  width: 300px;
  overflow: hidden;
  text-align: center;
}
.trunk-text {
  position: absolute;
  left: 50%;
  top: 5%;
  z-index: 10;
  transform: translate(-50%, 0);
  /* padding: 20px 20px; */
  border-radius: 50px;
  background-color: brown;
  color: black;
  font-size: 1rem;
  width: 10rem;
  text-align: center;
}

.slider-container {
  width: 100%; /* Width of the outside container */
  position: relative;
  left: 40%;
  top: 15%;
  z-index: 10;
}
input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  position: absolute;
  left: 5%;
  top: 16%;
  z-index: 10;
  width: 90%; /* Full-width */
  height: 2px; /* Specified height */

  border-radius: 5px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"] + label {
  position: absolute;
  left: 50px;
  top: 10%;
  z-index: 10;
  /* transform: translate(-50%, 0); */
  /* padding: 20px 20px; */
  /* border-radius: 50%; */
  border-radius: 0.4em;
  background-color: white;
  color: black;
  padding: 0.3em;
  text-align: center;
  box-shadow: 0 0 5px rgba(249, 248, 248, 0.3);
}
/* Track  */

input[type="range"]::-webkit-slider-runnable-track {
  background: #d3d3d3; /* Grey background */

  border-radius: 4px;
  width: 100%;
  height: 0.5em;
  cursor: pointer;
}
/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid rgb(247, 243, 243);
  margin-top: -0.2em;
  background-color: brown;
  cursor: pointer; /* Cursor on hover */
}

/* for firefox  */
input[type="range"]::-moz-range-track {
  background: #d3d3d3; /* Grey background */

  border-radius: 4px;
  width: 100%;
  height: 0.5em;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid rgb(243, 239, 239);
  margin-top: -0.2em;
  background-color: brown;
  cursor: pointer; /* Cursor on hover */
}
/* for IE  */
input[type="range"]::-ms-track {
  background: #d3d3d3; /* Grey background */

  border-radius: 4px;
  width: 100%;
  height: 0.5em;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid rgb(250, 246, 246);
  margin-top: -0.2em;
  background-color: brown;
  cursor: pointer; /* Cursor on hover */
}
