*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  background-color: #808080;
  background-image: linear-gradient(to right, #202020, #808080);
}
