@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style */
  transform-style: preserve-3d;
}

body,
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12pt;
  line-height: 18pt;
  font-weight: 400;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #444;
  margin: 0;
}
.container-3D {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.flopper {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transition: all 0.5s ease-in-out;
}
/* figures are sides of cube */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  transform-origin: 50% 50%;
  padding: 20px 25px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border: 1px solid white;
}
figure div {
  width: 100%;
  height: 100px;
  background: url("https://picsum.photos/id/237/1280/720");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.front div {
  background: url("https://picsum.photos/id/404/1280/720");
}

.left div {
  background: url("https://picsum.photos/id/611/1280/720");
}

.right div {
  background: url("https://picsum.photos/id/117/1280/720");
}

.back div {
  background: url("https://picsum.photos/id/142/1280/720");
}

.bottom div {
  background: url("https://picsum.photos/id/888/1280/720");
}

.top div {
  background: url("https://picsum.photos/id/491/1280/720");
}
/* more formatting of face of cube */
figure h2 {
  font-size: 20pt;
  line-height: 20pt;
  margin: 20px 0px 10px 0px;
}
figure p {
  font-size: 12pt;
  line-height: 18pt;
  margin: 0 0 15px 0;
  text-align: center;
}
figure a {
  position: relative;
  width: 130px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
figure a::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
figure a:hover::after {
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
figure a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}
 
.front {
  transform: translateZ(150px);
  background: #1be7ff;
  --face_color: #1be7ff;
}

.back {
  transform: rotateY(180deg) translateZ(150px);
  background: #6eeb83;
  --face_color: #6eeb83;
}

.top {
  transform: rotateX(90deg) translateZ(150px);
  background: #e4ff1a;
  --face_color: #e4ff1a;
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
  background: #e8aa14;
  --face_color: #e8aa14;
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
  background: #ff5714;
  --face_color: #ff5714;
}

.right {
  transform: rotateY(90deg) translateZ(150px);
  background: black;
  --face_color: black;
}
