*,
::after,
::before {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}
body {
  background: #f4eeeb;
  color: #653449;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
