* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-template-rows: repeat(4, 0rem);
  gap: 1rem;
  place-content: center;
}
.card {
  border: 2px solid black;
}
