* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  width: min(1200px, 90vw);
  margin: 0 auto;

.card {
  aspect-ratio: 1 / 1;
  border: 2px solid black;
}
