html,
body {
  height: 100%;
}

body {
  background: #a6c1a6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
}

.panda {
  transform: scale(1.2) translateY(40px);
  zoom: 1.2;
  -webkit-animation: panda 0.25s ease-in-out alternate infinite;
  animation: panda 0.25s ease-in-out alternate infinite;
  transform-origin: bottom center;
}
.panda-ears {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  transform: translateY(23px) scale(1.25);
}
.panda-ears::before,
.panda-ears::after {
  content: " ";
  display: block;
  background: #543535;
  width: 10px;
  height: 10px;
  border: 5px solid #1b1e23;
  border-radius: 10px;
}
.panda-contain {
  transform-origin: bottom center;
  -webkit-animation: tilt 3s ease-in-out alternate infinite;
  animation: tilt 3s ease-in-out alternate infinite;
}
.panda-head,
.panda-body {
  background: #eaf4de;
  height: 50px;
  width: 60px;
  border-radius: 30px 30px 15px 15px/40px 40px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.panda-eyes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 65%;
  left: 17%;
  top: 40%;
  -webkit-animation: eyes 3s ease-in-out infinite alternate;
  animation: eyes 3s ease-in-out infinite alternate;
}
.panda-eyes:before,
.panda-eyes:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border: 6px solid #1b1e23;
  background: #9fb7dd;
}
.panda-eyes:before {
  transform: rotate(-30deg) scale(1, 0.75);
  border-radius: 12px 8px 8px 8px/12px 8px 8px 8px;
}
.panda-eyes:after {
  transform: rotate(30deg) scale(1, 0.75);
  border-radius: 8px 12px 8px 8px/8px 12px 8px 8px;
}
.panda-nose {
  width: 30px;
  height: 35px;
  background: #eaf4de;
  border: 1px solid #1b1e23;
  border-radius: 16px;
  transform: scale(1, 0.5);
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: nose 3s ease-in-out alternate infinite;
  animation: nose 3s ease-in-out alternate infinite;
}
.panda-nose::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-top: 5px;
  background: #1b1e23;
  -webkit-animation: eyes 3s ease-in-out infinite alternate;
  animation: eyes 3s ease-in-out infinite alternate;
}
.panda-nose:after {
  content: "";
  height: 15px;
  width: 2px;
  border-radius: 4px;
  background: #1b1e23;
  -webkit-animation: eyes 3s ease-in-out infinite alternate;
  animation: eyes 3s ease-in-out infinite alternate;
}
.panda-arms {
  position: relative;
}
.panda-arms:before,
.panda-arms:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  height: 30px;
  width: 13px;
  background: #1b1e23;
  border-radius: 5px 5px 5px 5px;
  transform-origin: center top;
  z-index: -1;
}
