* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
body {
  /* background image */
  background: url(./images/main-background.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 35rem;
  opacity: 0.5;
  background-color: white;
  border-radius: 5%; */
}
.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 35rem;
  opacity: 0.5;
  background-color: white;
  border-radius: 5%;
}

.recipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 35rem;
  opacity: 0.5;
  background-color: white;
  border-radius: 5%;
  visibility: hidden;
}
