* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
body {
  /* background image */
  background: url(./images/main-background.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card {
  /* display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: row; */
}
.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50rem;
  width: 70rem;
  opacity: 0.9;

  border-radius: 5%;
  background: url(./images/tomato_board2.png);
  background-color: white;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */
  background-position: bottom right;
  background-position: 100% 75%;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-color: rgba(255, 255, 255, 0.5);
  /* object-position: right bottom; */
}

.recipe-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  /* height: 50rem;
  width: 70rem;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%; */
  visibility: hidden;
}
