@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand");
body {
  background: #222222;
  padding: 35px 0 0;
}

header {
  color: #dadada;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
header h1 {
  margin-top: 0;
}
header a {
  color: #4bd786;
}

main {
  margin: 50px auto 0;
  max-width: 820px;
}
main .cat-one,
main .cat-two,
main .cat-three {
  max-width: 275px;
}
main .cat-one {
  -webkit-clip-path: circle();
  clip-path: circle();
  float: left;
  shape-outside: circle(45%);
  transform: translate(-15%);
}
main .cat-two {
  -webkit-clip-path: ellipse();
  clip-path: ellipse();
  float: right;
  shape-outside: ellipse(45%);
  transform: translate(15%);
}
main .cat-three {
  float: left;
  -webkit-clip-path: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
  clip-path: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
  shape-outside: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
  transform: translate(-5%);
}
main p {
  color: #dadada;
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
}
