:root {
  --color-fur: #ffb141;
  --color-fur-dark: #f5832c;
  --color-spot: #f9584c;
  --color-snout: #544258;
  --color-collar: #3eab6c;
  --duration: 0.7s;
  --semi-duration: calc(var(--duration) / 2);
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
  --stagger: calc(-1 * var(--semi-duration) / 2);
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
} */

*,
*:before,
*:after {
  -webkit-animation-timing-function: var(--easing) !important;
  animation-timing-function: var(--easing) !important;
}
.dog {
  z-index: 1;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dog,
* {
  position: absolute;
  will-change: transform;
}
.dog:before {
  content: "";
  position: absolute;
  bottom: 13.333333333%;
  left: 0;
  width: 100%;
  height: 3.333333333%;
  background-color: #d3d1d1;
  border-radius: 2px;
  -webkit-animation: shadow calc(1 * var(--semi-duration)) infinite;
  animation: shadow calc(1 * var(--semi-duration)) infinite;
}
@-webkit-keyframes shadow {
  from,
  to {
    transform: scaleX(0.75);
  }
  45%,
  55% {
    transform: scaleX(0.5);
  }
}
@keyframes shadow {
  from,
  to {
    transform: scaleX(0.75);
  }
  45%,
  55% {
    transform: scaleX(0.5);
  }
}

.neck {
  width: 50%;
  height: 100px;
  right: -5px;
  bottom: calc(100% - 10px);
  transform-origin: center bottom;
  transform: rotate(15deg);
  z-index: 2;
}
.neck > .fur {
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
}
.neck > .fur:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: var(--color-fur-dark);
  z-index: 1;
  transform-origin: right bottom;
  transform: rotate(15deg);
}
.collar {
  width: calc(100% + 10px);
  height: 15%;
  background-color: var(--color-collar);
  left: -5px;
  bottom: 30px;
  border-radius: 5px;
  -webkit-animation: collar var(--semi-duration) calc(var(--semi-duration) / 4)
    infinite;
  animation: collar var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
  z-index: 2;
}
@-webkit-keyframes collar {
  from,
  to {
    transform: none;
  }
  50% {
    transform: translateY(-25%);
  }
}
@keyframes collar {
  from,
  to {
    transform: none;
  }
  50% {
    transform: translateY(-25%);
  }
}
.collar:after {
  content: "";
  width: 18%;
  height: 120%;
  border-radius: 50%;
  background: var(--color-snout);
  position: absolute;
  right: 0%;
  top: 110%;
  transform-origin: center top;
  -webkit-animation: tag var(--semi-duration) infinite both;
  animation: tag var(--semi-duration) infinite both;
}
@-webkit-keyframes tag {
  from,
  to {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-15deg) scaleY(1.5);
  }
}
@keyframes tag {
  from,
  to {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-15deg) scaleY(1.5);
  }
}
.head {
  height: 80%;
  width: 145%;
  left: -2%;
  bottom: 50%;
  transform-origin: left center;
  z-index: 2;
  -webkit-animation: head var(--semi-duration) calc(var(--semi-duration) / 4)
    infinite;
  animation: head var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
}
@-webkit-keyframes head {
  from,
  to {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}
@keyframes head {
  from,
  to {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}
.head > .fur {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 80px;
}
.head > .fur:before {
  content: "";
  position: absolute;
  top: -80%;
  left: -30%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: var(--color-spot);
  z-index: 1;
  border-radius: 50%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}
