* {
  box-sizing: border-box;
}

/* 14 columns on mobile and 7 rows plus some uniform gaps. */
.grid {
  display: grid;
}

.image-grid-3-m4 {
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(14, 1fr);
  gap: 0.5rem;
}

img {
  /* ell the browser to have the images always span their full container, the size of which is determined by the grid .object-fit to make sure all the space will be taken up by the image with the overflow hidden*/
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* first image begins at the top left corner, so we start on grid column line 1 and row 1, and it shall span 6 of our 14 columns and 4 rows */
.image-0 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 4;
}
.image-1 {
  grid-column: 7 / span 6;
  grid-row: 2 / span 2;
  aspect-ratio: 1/1;
}
.image-2 {
  grid-column: 1 / span 6;
  grid-row: 5 / span 2;
  padding-left: 1rem;
}
.image-3 {
  grid-column: 7 / span 8;
  grid-row: 4 / span 4;
}
.container {
  width: 300px;
}
/* desktop version, shift where the images start and end. media query redefine the grid and positionings */
@media (min-width: 1024px) {
  .image-grid-3-m4 {
    grid-template-rows: repeat(11, 63px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    row-gap: 1rem;
  }

  .image-0 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 8;
  }
  .image-1 {
    grid-column: 5 / span 4;
    grid-row: 2 / span 5;

    padding-right: 45px;
  }
  .image-2 {
    grid-column: 2 / span 3;
    grid-row: 9 / span 3;

    padding-left: 0;
  }
  .image-3 {
    display: none;
  }
}

.container {
  width: 800px;
}
/* RESTART at Shifting Blocks In the main Component   https://www.smashingmagazine.com/2023/02/build-magazine-layout-css-grid-areas/  */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "numerology"
    "text";
}

.images {
  grid-area: numerology;
}

.numbering {
  grid-area: numerology;
}

.text {
  grid-area: text;
}
.single-image {
  display: none;
}
