* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.scroll-container {
  width: 20rem;
  height: 30rem;
  border: 2px solid red;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px 0px;
}
.scroll-content {
  width: 100%;
  height: 100%;
  border: solid purple;

  height: 30rem;
  border: solid red;
  border-radius: 15px;
  overflow: scroll;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/scrollbar-color */
  /* first color is thumb , second is gree */
  scrollbar-color: blue green;
  /* a thin scroll bar */
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* this one does not seem to be working  */
