* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 5rem;
  width: 20rem;
  height: 30rem;
  border: solid red;
  border-radius: 15px;
  overflow: scroll;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/scrollbar-color */
  /* first color is thumb , second is gree */
  scrollbar-color: blue green;
  /* a thin scroll bar */
  scrollbar-width: thin;
}
