*,
html {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  height: 60%;
  width: 60%;
  background-color: aliceblue;
}
.card {
}
.volume {
}
.speaker {
  outline: 2px solid red;
}
.first-sound {
  outline: 2px solid blue;
}
.second-sound {
  outline: 2px solid green;
}
.x-close {
  outline: 2px solid purple;
}
