@property --pattern-seed {
  syntax: "<number>";
  initial-value: 123456;
  inherits: true;
}

@property --pattern-background {
  syntax: "<color>";
  inherits: false;
  initial-value: #141b3d;
}

@property --pattern-colors {
  syntax: "<color>#";
  initial-value: #e9edeb, #66aac6, #e63890;
  inherits: true;
}

body {
  margin: 0;
  background: #f9f9fc;
}

.worklet-canvas {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #fff;

  /* use the worklet to create the background-image for this element */
  background-image: paint(voronoiPattern);
  resize: both;
  overflow: hidden;
}
